<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inspur.crawl.taskManage.mapper.PartitionGroupMapper" >
  <resultMap id="BaseResultMap" type="inspur.crawl.taskManage.pojo.PartitionGroup" >
    <id column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="ORDER_LEVEL" property="orderLevel" jdbcType="DECIMAL" />
    <result column="PARTITION_ID" property="partitionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GROUP_ID, GROUP_NAME, CREATE_TIME, CREATOR, MODIFY_TIME, MODIFIER, ORDER_LEVEL, PARTITION_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="inspur.crawl.taskManage.pojo.PartitionGroupCriteria" >
    <if test="skipCount > 0" >
       select * FROM ( SELECT temp_table.*,ROWNUM rn from ( select 
      <include refid="Base_Column_List" />
      from CRAWLER_PARTITION_GROUP
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      ) temp_table 
      <if test="top >= 0" >
        <![CDATA[ where rownum <= ${top} ]]>
      </if>
       ) where rn>=${skipCount}
    </if>
    <if test="skipCount == 0" >
      <if test="top >= 0" >
        SELECT temp_table.*,ROWNUM rn from ( 
      </if>
      select
      <include refid="Base_Column_List" />
      from CRAWLER_PARTITION_GROUP
      <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
      <if test="top >= 0" >
         ) temp_table <![CDATA[ where rownum <= ${top} ]]>
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CRAWLER_PARTITION_GROUP
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CRAWLER_PARTITION_GROUP
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="inspur.crawl.taskManage.pojo.PartitionGroupCriteria" >
    delete from CRAWLER_PARTITION_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="inspur.crawl.taskManage.pojo.PartitionGroup" >
    insert into CRAWLER_PARTITION_GROUP (GROUP_ID, GROUP_NAME, CREATE_TIME, 
      CREATOR, MODIFY_TIME, MODIFIER, 
      ORDER_LEVEL, PARTITION_ID)
    values (#{groupId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{orderLevel,jdbcType=DECIMAL}, #{partitionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="inspur.crawl.taskManage.pojo.PartitionGroup" >
    insert into CRAWLER_PARTITION_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="orderLevel != null" >
        ORDER_LEVEL,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="orderLevel != null" >
        #{orderLevel,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="inspur.crawl.taskManage.pojo.PartitionGroupCriteria" resultType="java.lang.Integer" >
    select count(*) from CRAWLER_PARTITION_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CRAWLER_PARTITION_GROUP
    <set >
      <if test="record.groupId != null" >
        GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.orderLevel != null" >
        ORDER_LEVEL = #{record.orderLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.partitionId != null" >
        PARTITION_ID = #{record.partitionId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CRAWLER_PARTITION_GROUP
    set GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      ORDER_LEVEL = #{record.orderLevel,jdbcType=DECIMAL},
      PARTITION_ID = #{record.partitionId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="inspur.crawl.taskManage.pojo.PartitionGroup" >
    update CRAWLER_PARTITION_GROUP
    <set >
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="orderLevel != null" >
        ORDER_LEVEL = #{orderLevel,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        PARTITION_ID = #{partitionId,jdbcType=VARCHAR},
      </if>
    </set>
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="inspur.crawl.taskManage.pojo.PartitionGroup" >
    update CRAWLER_PARTITION_GROUP
    set GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      ORDER_LEVEL = #{orderLevel,jdbcType=DECIMAL},
      PARTITION_ID = #{partitionId,jdbcType=VARCHAR}
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </update>
  <select id="listPageGroup" resultMap="BaseResultMap" parameterType="map" >
    select 
     <include refid="Base_Column_List" />
    from CRAWLER_PARTITION_GROUP
    order by order_level
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
     <include refid="Base_Column_List" />
    from CRAWLER_PARTITION_GROUP
    order by order_level
  </select>
</mapper>