<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 【oracle数据库】 -->
	<bean id="jdbc.driverClassName" class="java.lang.String">
		<constructor-arg value="oracle.jdbc.driver.OracleDriver" />
	</bean>

	<!-- dataapi数据源 -->
	<!-- <bean id="jdbc.url.dataapi" class="java.lang.String"> -->
	<!-- <constructor-arg value="jdbc:oracle:thin:@172.22.4.16:1521:tmsjcj" 
		/> -->
	<!-- </bean> -->
	<!-- <bean id="jdbc.username.dataapi" class="java.lang.String"> -->
	<!-- <constructor-arg value="crawlm" /> -->
	<!-- </bean> -->
	<!-- <bean id="jdbc.password.dataapi" class="java.lang.String"> -->
	<!-- <constructor-arg value="crawlm" /> -->
	<!-- </bean> -->

	<!-- 任务系统 -->
	<bean id="jdbc.url.dataapi" class="java.lang.String">
		<constructor-arg value="jdbc:oracle:thin:@10.110.8.15:1521:jgsj" />
	</bean>
	<bean id="jdbc.username.dataapi" class="java.lang.String">
		<constructor-arg value="rwgl" />
	</bean>
	<bean id="jdbc.password.dataapi" class="java.lang.String">
		<constructor-arg value="rwgl" />
	</bean>
	<!-- dataapi数据源 2 -->
	<bean id="jdbc.url.dataapi2" class="java.lang.String">
		<constructor-arg value="jdbc:oracle:thin:@172.22.4.16:1521:tmsjcj" />
	</bean>
	<bean id="jdbc.username.dataapi2" class="java.lang.String">
		<constructor-arg value="crawlm" />
	</bean>
	<bean id="jdbc.password.dataapi2" class="java.lang.String">
		<constructor-arg value="crawlm" />
	</bean>
	<!-- dataapi数据源 2 -->
	<!-- <bean id="jdbc.url.dataapi2" class="java.lang.String"> <constructor-arg 
		value="jdbc:oracle:thin:@172.22.5.6:1521:orcl" /> </bean> <bean id="jdbc.username.dataapi2" 
		class="java.lang.String"> <constructor-arg value="crawlm" /> </bean> <bean 
		id="jdbc.password.dataapi2" class="java.lang.String"> <constructor-arg value="crawlm" 
		/> </bean> -->
</beans>  